.float{
  z-index: 200;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width:40px;
  height:40px;
  bottom:40px;
  right:40px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  width: to-rem(50);
  height: to-rem(50);
}