@import "./src/styles/mixins";

.inputWrapper{
  justify-content: center;



  input {
    padding: to-rem(8) to-rem(10);
    background: var(--dark-grey-medium);
    border: var(--main-green) solid to-rem(2);
    width: 30vw;
    border-radius: to-rem(10);
    color: var(--grey-lignt);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    &:focus {
      outline: none;
    }

    &.invalid {
      border: var(--error-red) solid 2px;
    }

    @include respond("md"){
      width: 70vw
    }

    @include respond("sm"){
      width: 60vw
    }

    @include respond("xs"){
      width: 100%;
    }

  }

  span{
    display:flex;
    justify-content:space-between;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: var(--grey-lignt);
  }
}